<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
</head>
<body>

    <form action="new-index">
<!--Input song title-->
        <label for="song-title">Song title:</label><br>
        <input type="text" id="song-title" name="song-title"><br>
<!--Input artist name-->
        <label for="artist">Artist:</label><br>
        <input type="text" id="artist" name="artist"><br>


<!--Input BPM(s)-->
        <label for="beats-per">BPM:</label><br>
        <input type="text" id="beats-per" name="beats-per"><br>
<!--On-off button for multiples, disables one box and enables the other-->
<!--dropdown for multiple BPM; "yes", 2, 3, 4, 5, 6,...-->
        <label for="beats-per-many">Searching for multiple BPMs? How many?</label>
        <input type="number" id="beats-per-many" name="beats-per-many" min="0" max="11" step="1" value="1">

<!--Input key(s)-->
        <label for="music-keys">Key:</label><br>
        <input type="text" id="music-keys" name="music-keys"><br>
<!--On-off button for multiples, disables one box and enables the other-->
<!--dropdown for multiple key; "yes", 2, 3, 4, 5, 6,...-->
        <label for="music-keys-many">Searching for multiple keys? How many?</label>
        <input type="number" id="music-keys-many" name="music-keys-many" min="0" max="11" step="1" value="1">

<!--Input time signatures(s)-->
        <label for="time-signs">Time signature:</label><br>
        <input type="text" id="time-signs" name="time-signs"><br>
<!--On-off button for multiples, disables one box and enables the other-->
<!--dropdown for multiple signs; "yes", 2, 3, 4, 5, 6,...-->
        <label for="time-signs-many">Searching for multiple signatures? How many?</label><!--Double-buttoned. Fix in the future.-->
        <input type="number" id="time-signs-many" name="time-signs-many" min="0" max="11" step="1" value="1">


<!--Submit button for searching-->
        <!--<button id="SearchButton">Search with all active fields</button>-->
        <input type="button" onclick="this.form.action='new-index'; this.form.submit()" value="Search with all active fields">
<!--Submit button for new data-->
            <!--<button id="UpdateButton">Submit a new song with all active fields</button>--><!--Double-buttoned. Fix in the future.-->
        <input type="button" onclick="this.form.action='search'; this.form.submit()" value="Submit a new song with all active fields">

        <input type="reset">
        <!--Doesn't hur tto have this-->
    </form>

</body>
</html>